<!---table lista clientes-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title font-16 text-uppercase">Clientes</h4>
                    </div>

                </div>
                <div class="d-md-flex align-items-center">

                    <div class="d-grid gap-2 d-md-flex card-title">
                        <button class="btn btn-lg btn-outline-primary" (click)="openModal(modalcreate)">Crear
                                    Cliente</button>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <button class="btn btn-lg btn-outline-primary" (click)="reset()">
                               reset
                            </button>
                            <button class="btn btn-lg btn-outline-primary" (click)="loadFilter()">
                                Filtrar 1 de febrero de 2000 a 25 de mayo de 2000
                            </button>
                        </div>
                    </div>

                </div>
                <!-- title -->

                <div class="table-responsive">
                    <dx-data-grid id="gridContainer" [dataSource]="tableData" [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true">

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>


                        <dxi-column dataField="name" caption="Nombre"></dxi-column>
                        <dxi-column dataField="lastName" caption="Apellido"></dxi-column>
                        <dxi-column dataField="address" caption="Dirección"></dxi-column>
                        <dxi-column dataField="email" caption="Correo electronico"></dxi-column>
                        <dxi-column dataField="identificationNumber" datatype="number" caption="Identidicación"></dxi-column>
                        <dxi-column caption="Fecha nacimiento" dataField="birthday" dataType="date" format="yyyy-MM-dd"></dxi-column>

                    </dx-data-grid>
                </div>

            </div>
        </div>
    </div>

</div>


<ng-template #modalcreate let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Registrar nuevo cliente</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formCliente">
            <div class="form-group">
                <label for="dateOfBirth">Nombre</label>
                <div class="input-group">
                    <!--  <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker"> -->
                    <input type="text" class="form-control" formControlName="name">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Apellido</label>
                <div class="input-group">
                    <!--  <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker"> -->
                    <input type="text" class="form-control" formControlName="lastName">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Identificacion</label>
                <div class="input-group">
                    <!--  <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker"> -->
                    <input type="number" class="form-control" formControlName="IdentificationNumber">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Correo elecotronico</label>
                <div class="input-group">
                    <!--  <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker"> -->
                    <input type="email" class="form-control" formControlName="email">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Dirección</label>
                <div class="input-group">
                    <!--  <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker"> -->
                    <input type="text" class="form-control" formControlName="address">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Fecha de Nacimiento</label>
                <div class="input-group">
                    <!--  <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker"> -->


                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="Birthday" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                            <span class="mdi mdi-calendar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
    </div>
</ng-template>